
<h1>Listing trips</h1>

<table class="table">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Adventurer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%=link_to( image_tag(trip.cover_photo.mini.url), trip )%></td>
    <td><%= link_to trip.name, trip %></td>
    <td><%= trip.description %></td>
    <td><%= link_to trip.user.username, trip.user %></td>

        <% if can? :update, trip.user %>
          <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
          <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
  </tr>
<% end %>
</table>

<br />
