<p id="notice"><%= notice %></p>

<% content_for :map do %>
  <div id="googleMap"></div>
<% end %>

<div id="trip_details">
  <p>
    <b>Name:</b>
    <%= @trip.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @trip.description %>
  </p>

  <p>
    <b>Cover photo:</b>
    <%= @trip.cover_photo %>
  </p>

  <p>
    <b>Trip Creator:</b>
    <%=link_to @trip.user.firstname, user_path(@trip.user_id)%>
  </p>

  <p>
    <b>Trip Stops:</b>
    <ul> <% @trip.markers.each do |marker| %>
      <li><%= link_to marker.name, marker_path(marker.id) %></li>
              <%end%>
  </p>

  <%= link_to 'Edit', edit_trip_path(@trip) %> |
  <%= link_to 'Back', trips_path %>
 </div>

<script>
  window.markers = <%= raw @trip.markers.to_json%>
</script>