<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div>
    <%= f.label :firstname, 'First Name' %>
    <%= f.text_field :firstname %>
  </div>

  <div>
    <%= f.label :last_name, 'Last Name' %>
    <%= f.text_field :lastname %>
  </div>

  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar, :onchange =>"validateFiles(this);", :data => { :max_file_size => 1.megabyte }%><br/><br>
  </div>

  <div>
    <%= f.label :bio %>
    <%= f.text_area :bio, size: '100x3' %>
  </div>

  <div>
    <%= f.label :birthdate %>
    <%= f.date_select :birthdate %>
  </div>

  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
