<h1>Stops</h1>

<table>
  <tr>
    <th></th>
    <th>Stop Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Full Trip</th>
    <th></th>
    <th></th>
  </tr>

<% @markers.each do |marker| %>
  <tr>
    <td><%=link_to( image_tag(marker.photo.mini.url), marker ) %></td>
    <td><%= link_to marker.name, marker %></td>
    <td><%= marker.description %></td>
    <td><%= marker.address %></td>
    <td><%= link_to marker.trip.name, marker.trip %></td>

        <% if can? :update, marker.trip.user %>
            <td><%= link_to 'Edit', edit_marker_path(marker) %>    </td>
            <td><%= link_to 'Destroy', marker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
  </tr>
<% end %>
</table>

<br />
