<div><p id="notice"><%= notice %></p></div>

<% content_for :map do %>
  <div id="googleMap_marker"></div>
<% end %>

<div id="trip_details">

<h2>
  <%= @marker.name %>
</h2>

<p>
  <%=image_tag @marker.photo.thumb %>
</p>



<p>
  <b>Description:</b>
  <%= @marker.description %>
</p>

<p>
  <b>Location:</b>
  <%= @marker.address %>
</p>

<p  >
  <b>Latitude:</b>
  <span id="latitude" ><%= @marker.latitude %></span>
</p>

<p>
  <b>Longitude:</b>
  <span  id="longitude"><%= @marker.longitude %></span>
</p>

<p>
  <b>Trip:</b>
  <%= link_to @marker.trip.name, trip_path(@marker.trip_id) %>
</p>

<p>
  <b>Traveler:</b>
  <%= link_to @marker.trip.user.username, user_path(@marker.trip.user_id) %>
</p>

</div>

<div>
<%= link_to 'Edit', edit_marker_path(@marker) %> |
<%= link_to 'Back', markers_path %>
</div>
