<%= form_for trip, url: trip_interface_path, html: {id: "create_trip_form"}, method: :post do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= text_field_tag :name, params[:name], class:"input_field" %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "25x5", class:"input_field" %>
  </div>

  <div class="field">
    <%= f.label :cover_photo%><br />
    <%= f.file_field :cover_photo, :onchange =>"validateFiles(this);", :data => { :max_file_size => 1.megabyte } %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit "Create trip", class:"btn btn-sm btn-primary"%>
    <br>
    <br>
  </div>

<% end %>




<div id="trip_info" style="display: none">

  <p class="name">
    <%=@trip.name%>
  </p>

  <p class="image">
    <%= image_tag "" if @trip.cover_photo %>
  </p>

  <p class="description">
    <b>Description:</b>
    <%= @trip.description %>
  </p>


 </div>
