<%= form_for trip, url: trip_interface_path, html: {id: "create_trip_form"}, method: :post do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= text_field_tag :name, params[:name], :size => "27x1", class:"input_field", :placeholder => "Name your trip" %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "22x5", class:"input_field", :placeholder => "Enter a brief description" %>
  </div>

  <div class="field">
    <%= f.label :cover_photo%><br />
    <%= f.file_field :cover_photo, :onchange =>"validateFiles(this);", :data => { :max_file_size => 1.megabyte } %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit "Create Trip", class:"btn btn-sm btn-primary"%>
    <br>
    <br>
  </div>

<% end %>


<div id="trip_info" style="display: none">

  <h2 class="name">
    <%=@trip.name%>
  </h2>

    <p class="image">
      <%  unless @trip.cover_photo.thumb.nil? || @trip.cover_photo.thumb.blank? %>
        <%=image_tag @trip.cover_photo.thumb %>
      <% end %>
    </p>

  <p class="description">
    <b>Description:</b>
    <%= @trip.description %>
  </p>

 </div>
