<div id="marker_info" style="display: none">
  <h4>
      Add a stop to your trip:
  </h4>
  <%= form_for marker, url: trip_interface_path, html: {id: "create_marker_form"}, method: :post do |f| %>
    <%= hidden_field_tag id="trip_id", "" %>
    <% if marker.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

        <ul>
        <% marker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, class:"input_field" %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :size => "29x4", class:"input_field" %>
    </div>

    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address, class:"input_field" %>
    </div>

    <%= hidden_field_tag "longitude" %>
    <%= hidden_field_tag "latitude" %>

    <div class="field">
      <%= f.label :photo%><br />
      <%= f.file_field :photo, :onchange =>"validateFiles(this);", :data => { :max_file_size => 1.megabyte } %>
    </div>

    <div class="actions">
      <br>
      <%= f.submit "Add Stop", class:"btn btn-sm btn-primary" %>
    </div>
  <% end %>

  <h5>Is your trip complete?</h5>
  <%= link_to "Yep, I'm done!", "", class:"btn btn-sm btn-primary", id: "leave_trip_edition"%>
</div>