<h1>Travelers</h1>

<table class="table">
  <tr>
    <th></th>
    <th>Username</th>

    <th>Location</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Bio</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td>
        <% if user.avatar? %>
            <%=image_tag user.avatar.mini, class: "img-rounded" %>
        <% end %>
    </td>
    <td><%= link_to user.username.humanize, user %></td>

    <td><%= user.location %></td>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.bio %></td>

    <td>
        <% if current_user == user %>
            <%= link_to 'Edit', edit_user_registration_path %>
        <% end %>
    </td>
    <td>
    <%if can? :update, user and current_user.role == 'registered' || 'admin' %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
    </td>
  </tr>
<% end %>
</table>
