<h1>Listing users</h1>

<table class="table">
  <tr>
    <th></th>
    <th>Username</th>
    <th>Email</th>
    <th>Location</th>
<!--     <th>Firstname</th>
    <th>Lastname</th>
    <th>Bio</th> -->
    <th>Birthdate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=image_tag user.avatar.mini, class: "img-rounded" %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.location %></td>
<!--     <td>< %= user.firstname %></td>
    <td>< %= user.lastname %></td>
    <td>< %= user.bio %></td> -->
    <td><%= user.birthdate %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
