<% content_for(:user_id) do %>data-user-id="<%= @user.id %>"<% end %>

<p id="notice"><%= notice %></p>


<p>
  <%=image_tag @user.avatar.thumb.url, class:"img-rounded" %>
</p>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @user.birthdate %>
</p>

<p>
  <b>Trips:</b>
  <ul id="user_trips">
    <% @user.trips.each do |trip| %>
      <li id="trip_<%= trip.id %>">
        <%= link_to trip.name, trip_path(trip.id) %>
      </li>
    <% end %>
  </ul>
</p>

<% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_registration_path %>
<% end %>
<%= link_to 'All Travelers', users_path %>