<p id="notice"><%= notice %></p>


<p>
  <%=image_tag @user.avatar.thumb.url, class:"img-rounded" %>
</p>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @user.birthdate %>
</p>

<p>
  <b>Trips:</b>
  <ul id="user_trips"> <% @user.trips.each do |trip| %>
    <li><%= link_to trip.name, trip_path(trip.id) %></li>
      <% content_for :map do %>
        <div id="googleMap_<%= trip.id %>" class="map_user_profile"></div>
        <script>
          window.trip_<%= trip.id %>_data = <%= raw trip.markers.to_json %>
        </script>
      <% end %>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_user_registration_path %>
<%= link_to 'Back', users_path %>
