
  <!-- Carousel -->

<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for Carousel slides -->
  <div class="carousel-inner">
    <div class="item ">
      <%= image_tag "footsteps.jpg"%>
    </div>
    <div class="item active">
      <%= image_tag "footsteps.jpg"%>
    </div>
    <div class="item ">
      <%= image_tag "text.jpg"%>
    </div>
  </div>

  <!-- Carousel Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

  <!-- Search -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h2 >Where do you want to go?</h2>
        <%= form_tag root_path, id:"submit_form_button", method: :post do |f| %>
        <%= text_field_tag :q, params[:q], class:"form-control", placeholder:"Take me to...", autofocus: :true %>
        <%= submit_tag 'Search!' , name: nil, class:"btn btn-lg btn-primary btn-block"%>
        <% end %>
  </div>
</div>


  <!-- Search Results  -->
<div id="search_results_all" >
<!--   <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#trips" data-toggle="tab">Trips</a></li>
    <li><a href="#stops" data-toggle="tab">Stops</a></li>
    <li><a href="#users" data-toggle="tab">Users</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id='search_results_trips'>...</div>
    <div class="tab-pane" id='search_results_markers'>...</div>
    <div class="tab-pane" id='search_results_users'>user.username</div>
  </div> -->

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home">Home</a></li>
  <li><a href="#profile">Profile</a></li>
  <li><a href="#messages">Messages</a></li>
  <li><a href="#settings">Settings</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">...</div>
  <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>

</div>


